/*
 * General styles
*/
html, body {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: Arial, sans-serif;
}

/*
 * Components styles
*/
.module {
    background-color: #ececec;
    overflow: hidden;
    width: 50%;
    margin: 60px auto;
    padding: 30px;
}

    .module h1 {
        text-align: center;
        margin-bottom: 5px;
    }

    .module .helper-info {
        font-size: 0.8rem;
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    .module .row {
        display: flex;
        padding: 10px;
        margin-bottom: 10px;
        background-color: #CED0D1;
    }

    .module .col-button {
        flex: 1
    }

    .module .col-array {
        flex: 5;
        line-height: 1.7rem;
    }

    .module button {
        padding: 5px 10px;
        width: 130px;
        margin-right: 20px;
    }